body{
    display: grid;
    place-content: center;
}
.pokemon-card{
    background-color: gray;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}
.pokemon-image{
    max-width: 500px;
    border-radius: 20px;
    padding-left: 15px;
}
.pokemon-info{
 background-color: lightgreen; 
 border-radius: 20px;  
 padding-left: 15px;
}
.pokemon-name {
    font: oblique bold 120% cursive;
    color: darkblue;

}
.pokemon-type{
    padding: 2px;
}
.pokemon-description{
    
    color: gray;
}